In [291]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import r2_score

In [292]:
df=pd.read_csv(r'D:\regtask1\StudentsPerformance.csv')

In [293]:
df['parental level of education'].value_counts()
df['test preparation course'].value_counts()

test preparation course
none         642
completed    358
Name: count, dtype: int64

In [294]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [295]:
df['reading score'].skew()

np.float64(-0.25910451810923063)

In [296]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [297]:
df = pd.get_dummies(df, columns=['test preparation course'], drop_first=True)

In [298]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,math score,reading score,writing score,test preparation course_none
0,female,group B,bachelor's degree,standard,72,72,74,True
1,female,group C,some college,standard,69,90,88,False
2,female,group B,master's degree,standard,90,95,93,True
3,male,group A,associate's degree,free/reduced,47,57,44,True
4,male,group C,some college,standard,76,78,75,True

In [299]:
df['test preparation course_none']=df['test preparation course_none'].astype(int)

In [300]:
df['parental level of education'] = df['parental level of education'].map({
   "some college":0,
"associate's degree":1,
"high school":2,
"some high school" :3,
"bachelor's degree" :4,
"master's degree":5
})

In [301]:
df['parental level of education'].head(5)

0    4
1    0
2    5
3    1
4    0
Name: parental level of education, dtype: int64

In [302]:
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,math score,reading score,writing score,test preparation course_none
0,female,group B,4,standard,72,72,74,1
1,female,group C,0,standard,69,90,88,0
2,female,group B,5,standard,90,95,93,1
3,male,group A,1,free/reduced,47,57,44,1
4,male,group C,0,standard,76,78,75,1

In [303]:
X=df[['parental level of education','test preparation course_none','reading score','writing score']]
y=df['math score']

In [304]:
from sklearn.model_selection import train_test_split

In [305]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [306]:
model=LinearRegression()
model.fit(x_train,y_train)
pred_y=model.predict(x_test)

In [310]:
print(model.coef_)

[-0.44728361  1.19771073  0.54818794  0.31171966]

In [307]:
print(r2_score(y_test,pred_y))

0.6857449191155522

In [308]:
predicted_value=model.predict([[1,0,85,80]])

d:\regtask1\myvenev\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [309]:
print(predicted_value)

[78.18788636]